---
layout: default
title: Home
---

<!-- MAIN SLIDER -->
<section id="demo-1" class="main-slider" data-zs-src='["/assets/images/main-slider-img.jpg"]'>
    <div class="main-slider-caption">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-title"><span>Worldwide</span> network</div>
                    <div class="big-title">Coffee market</div>
                    <p>Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar
                        tellus eget<br> magna aliquet ultricies. Praesent gravida hendrerit ex, nec eleifend sem
                        convallis vitae. </p>
                    <a href="#" class="btn btn-default">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MAIN SLIDER END -->

<!-- MAIN TOP PRODUCT -->
<section class="top-prod-wrap">
    <div class="top-prod-types">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <div class="item first">
                        <img src="/assets/images/main_icon1.png" width="150" height="150" alt="">
                        <div class="name dark"><span>Natural</span> Coffee</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item second">
                        <img src="/assets/images/main_icon2.png" width="150" height="150" alt="">
                        <div class="name"><span>Chinese</span> Tea</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item third">
                        <img src="/assets/images/main_icon3.png" width="150" height="150" alt="">
                        <div class="name"><span>Sweet</span> Desserts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MAIN TOP PRODUCT END -->

<!-- MAIN ABOUT -->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <h2>About <span>Market</span></h2>
                    <p>Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar
                        tellus eget magna aliquet ultricies. Praesent gravida hendrerit ex, nec eleifend sem convallis
                        vitae. </p>
                    <ul class="about-slogan">
                        <li>
                            <div class="icon"><i class="fa fa-coffee" aria-hidden="true"></i></div>
                            <div class="text">
                                <div class="title">100% Natural Coffee</div>
                                <p>Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget magna
                                    aliquet ultricies. </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                            <div class="text">
                                <div class="title">Free Delivery</div>
                                <p>Donec pulvinar tellus eget magna aliquet ultricies. Praesent gravida hendrerit ex,
                                    nec eleifend sem convallis vitae. </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></div>
                            <div class="text">
                                <div class="title">High Quality Product</div>
                                <p>Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio. Donec
                                    pulvinar tellus eget magna aliquet ultricies. </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img"><img src="/assets/images/about-img.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>
<!-- MAIN ABOUT END -->


{% include shop.html %}

{% include blog.html%}