<!-- MAIN BLOG -->
<section class="where-buy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Read our news</h2>
                </div>
                <div class="col-md-3">
                    <div class="main-blog-item">
                        <div class="img-wrap"><a href="#"><img class="img-responsive" src="/assets/images/0.jpg" alt=""></a></div>
                        <div class="info">
                            <a href="#" class="name">Where our coffee is grown</a>
                            <p class="text">Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio.
                                Donec pulvinar tellus eget magna aliquet ultricies. </p>
                        </div>
                        <div class="item-info">
                            <div class="left">
                                <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>January 2, 2017</div>
                            </div>
                            <div class="right">
                                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i>12</div>
                                <div class="comm"><i class="fa fa-commenting" aria-hidden="true"></i>3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-blog-item">
                        <div class="img-wrap"><a href="#"><img class="img-responsive" src="/assets/images/1.jpg" alt=""></a></div>
                        <div class="info">
                            <a href="#" class="name">What sort of coffee to choose for every day?</a>
                            <p class="text">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget
                                magna aliquet ultricies. </p>
                        </div>
                        <div class="item-info">
                            <div class="left">
                                <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>March 18, 2017</div>
                            </div>
                            <div class="right">
                                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i>12</div>
                                <div class="comm"><i class="fa fa-commenting" aria-hidden="true"></i>3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-blog-item">
                        <div class="img-wrap"><a href="#"><img class="img-responsive" src="/assets/images/2.jpg" alt=""></a></div>
                        <div class="info">
                            <a href="#" class="name">Where our coffee is grown</a>
                            <p class="text">Sed sagittis sodales lobortis. Curabitur in eleifend turpis, id vehicula odio.
                                Donec pulvinar tellus eget magna aliquet ultricies. </p>
                        </div>
                        <div class="item-info">
                            <div class="left">
                                <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>January 2, 2017</div>
                            </div>
                            <div class="right">
                                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i>12</div>
                                <div class="comm"><i class="fa fa-commenting" aria-hidden="true"></i>3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-blog-item">
                        <div class="img-wrap"><a href="#"><img class="img-responsive" src="/assets/images/3.jpg" alt=""></a></div>
                        <div class="info">
                            <a href="#" class="name">What sort of coffee to choose for every day?</a>
                            <p class="text">Curabitur in eleifend turpis, id vehicula odio. Donec pulvinar tellus eget
                                magna aliquet ultricies. </p>
                        </div>
                        <div class="item-info">
                            <div class="left">
                                <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i>January 2, 2017</div>
                            </div>
                            <div class="right">
                                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i>12</div>
                                <div class="comm"><i class="fa fa-commenting" aria-hidden="true"></i>3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center top-buffer"><a href="#" class="btn btn-default all-blog">all news</a></div>
            </div>
        </div>
    </section>
    <!-- MAIN BLOG END -->