<!-- FOOTER -->
<footer class="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6" style="margin-bottom:20px">
                    <a href="#" class="footer-logo"><img width="120" hegith="120" src="/assets/images/royal.png" alt=""></a>
                </div>

                <div class="col-md-4 col-sm-6">
                    <ul class="footer-contacts">
                        <li><img height=20 width=20 src="/assets/images/wp.png" alt="">&nbsp; 812 358 3495</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>(81) 8351 9415</li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i>caferoyal@hotmail.com</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-social">
                        <div class="title">Síguenos para Promociones!</div>
                        <ul class="social">
                            <li><a href="https://www.facebook.com/caferoyalmonterrey" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyrights"> 2018 &copy; Derechos reservados</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
