<!-- MAIN SHOP -->
<section class="popular-item">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Popular items</h2>
            </div>
            <div class="col-md-12">
                <div class="row owl-carousel shop-slider">
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img.jpg" alt=""></a></div>
                        <a href="#" class="name">100% Arabica</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$19</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img1.jpg" alt=""></a></div>
                        <a href="#" class="name">Espresso Premium</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$46</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img2.jpg" alt=""></a></div>
                        <a href="#" class="name">100% Arabica</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$8</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img3.jpg" alt=""></a></div>
                        <a href="#" class="name">Robusta</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$23</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img2.jpg" alt=""></a></div>
                        <a href="#" class="name">100% Arabica</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$8</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                    <div class="item">
                        <div class="img-wrap"><a href="#"><img src="/assets/images/prod-img3.jpg" alt=""></a></div>
                        <a href="#" class="name">Robusta</a>
                        <div class="text">Professional espresso serie</div>
                        <div class="price">$23</div>
                        <a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add
                            to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MAIN SHOP END -->