---
layout: default
---
<!-- PAGE HEAD -->
    <section class="page-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li>{{ page.title }}</li>
                    </ul>
                    <h1>{{ page.title }}</h1>	
                </div>
            </div>
        </div>
    </section>
<!-- PAGE HEAD END -->

{{ content }}